{% extends "layout.html" %}

{%block body %}

<h1>Error</h1>
{{error_message}}
<img alt="Grumpy Cat" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-1/347795828_207289602163657_6904143982302129684_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=WqowosKK1iEQ7kNvwGm6LGq&_nc_oc=Adl03jh1JKRwqZAoZ_Fv4Hf6_G_dQ4PtyytyBxbFvv--X10g57uVZyjgmFUyEh7-Fcg&_nc_zt=24&_nc_ht=scontent-nrt1-1.xx&_nc_gid=jKk88PzngEqc0Ww8F9TuVQ&oh=00_AfHQ_pk13O6ZDPwVPaGyywVlFNSDfDYKn5tlsw39YpU2lw&oe=67F94E2B">

{% endblock %}